body{
  font-family: 'Lato', sans-serif;
}

header{
  background: #000000;
  padding: 20px 0;
}

.box{
  width: 940px; /*padrão da web */
  position: relative;
  margin: 0 auto; /* a margem externa pra cima e pra baixo é 0 e pra dir e na esq se calculam automaticamente */
}

nav{
  position: absolute; /*muda o ponto inicial em relação a algo*/
    top: 90px;
    right: 0;
} 

nav li{
   display: inline; /* links ficam lado a lado*/
   margin: 0 0 0 15px; /*cria uma espaçamento entre os links*/ 
}

nav a{
  text-transform: uppercase;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
}
nav a:hover{
  color: #e7e240;
  text-decoration: underline;
}
.box{
  width: 940px; /*padrão da web */
  position: relative;
  margin: 0 auto; /* a margem externa pra cima e pra baixo é 0 e pra dir e na esq se calculam automaticamente */
}

#logo{
  width:220px;
  height: 200px;
}

main{
  width: 940px;
  margin: 0 auto;
}
form{
  margin: 40px 0;
}
form label, form p, form legend {
  display: block; /* insere uma quebra nos campos, de forma que fiquem um abaixo do outro, não lado a lado */
  font-size: 20px;
  margin:  0 0 10px; /* insere um espaço entre a label e o input */
}

.standard-input{
  display: block;
  margin: 0 0 10px;
  padding: 5px 25px;
  width: 50%;
}

.standard-input:hover{
  border-color: #e7e240; 
}
.checkbox{
  margin: 20px 0;
}

.submit{
  width: 40%;
  padding: 15px 0;
  background-color: #e7e240;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 3s background;
}

.submit:hover{
  background: #848004ec;
  transform: scale(1.2); /*aumenta o botão quando o mouse passa por cima em 20%*/
}
footer{
  background: #000000;
  bottom: 0;
  margin: auto;
  position: relative;
  padding: 40px 0;
}

.copyrights{
  color: #FFFFFF;
  text-align: center;
  margin: 20px 0 0
  
}